<%= javascript_pack_tag 'hello_vue' %>

<h1>whiskys</h1>



<ul>
  <% @whiskys.each do |whisky| %>
    <li>
      <%= link_to whisky.title, whisky_path(whisky) %>
    </li>
  <% end %>
</ul>

<ul>
</ul>

<%= link_to "New whisky", new_whisky_path %>