<h1>New Whisky</h1>


<form action="/whiskys" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="whisky_title">Title</label><br>
    <input type="text" name="whisky[title]" id="whisky_title">
  </div>

  <div>
    <label for="whisky_body">Body</label><br>
    <textarea name="whisky[body]" id="whisky_body"></textarea>
  </div>
  <div>
    <label for="whisky_age">age</label><br>
    <textarea name="whisky[age]" id="whisky_age"></textarea>
  </div>

  <div>
    <label for="whisky_region">region</label><br>
    <textarea name="whisky[region]" id="whisky_region"></textarea>
  </div>
  <div>
    <label for="whisky_ABV">ABV</label><br>
    <textarea name="whisky[ABV]" id="whisky_ABV"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Whisky" data-disable-with="Create Whisky">
  </div>
</form>
<div>

</div>
