<h1><%= @whiskys.title %></h1>

<p><%= @whiskys.body %></p>

<ul>
  <li><%= link_to "Edit", edit_whisky_path(@whiskys) %></li>
  <li><%= link_to "Destroy", whisky_path(@whiskys),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

# 